:root {
	--transition-bezier: 0.35s cubic-bezier(0.17, 0.89, 0.32, 1.28);
}

#clock {
	animation: clock-blink 1s infinite;
	box-shadow: var(--edge-highlight);
	border-radius: var(--rounded-corner-small);
	background-color: var(--primary-color-alpha);
	padding: 0.125rem 0.375rem;
	color: var(--primary-color);
	font-weight: bold;

	@keyframes clock-blink {
		from {
			color: var(--primary-color);
		}

		25% {
			color: var(--primary-color-alpha);
		}

		50% {
			color: var(--primary-color);
		}
	}

	@media (prefers-reduced-motion) {
		animation: none;
	}
}
