{% extends "base.html" %}
{% block content %}

<div class="crt scanlines">
<pre>
<strong>jeff@pops ~ </strong>
❯ cat tasty-mango.txt
========================================
                About Me
========================================

See <a href="{{ get_url(path='@/about/index.md') }}">about page</a> for a full version with
contacts.

⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⢰⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⠀⡆⠀⠀⠀⢠⡀⠀⠀⠀⢸⣿⠘⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⡇⠀⠀⠀⣾⢧⠀⠀⠀⢸⣿⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⡇⠀⠀⢀⣿⢸⠀⠀⠀⣼⣿⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⠀⢱⠀⠀⢸⣿⠈⡇⠀⠀⣿⣿⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⢸⠀⠀⢸⣿⠀⡇⠀⠀⣿⣿⠀⢳⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⢸⢰⡇⢸⣿⠀⡇⣸⡀⣿⣿⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠻⢿⡠⠞⠸⣿⢸⣿⠀⡇⣿⠇⠻⢿⡠⠞⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⣾⣿⣆⣰⣿⣷⢸⣾⣿⠀⣿⠣⣾⣿⡆⣴⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⣟⡀⢲⡾⢻⣿⠀⡟⢷⠖⢈⣿⣟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⠀⠀⠘⣿⠹⣇⠀⣤⣌⠻⢖⣥⣤⠀⣼⢏⣿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⡄⣿⣿⡟⣠⡀⠙⣷⣝⠷⣤⠹⣧⣾⢏⣤⠾⣣⡾⠃⣀⣀⢻⣿⡷⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⢸⣿⡘⣿⣿⠀⣼⡿⠷⣮⢀⣿⣿⠨⣵⠾⢿⣄⠀⣿⣿⢨⣿⢃⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢀⣴⣿⡿⣸⣿⣷⡙⣿⠸⣿⡇⠀⠀⠾⣿⣿⠷⠀⠀⢸⣿⢆⡿⢋⣾⣿⣆⠓⠑⢦⡀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⣠⣶⠿⠋⣁⡠⠏⠛⠻⣿⡌⢷⣶⣶⣿⡀⠶⣿⣿⠶⢐⣿⣶⣶⡾⣱⣿⠟⠋⠻⢿⣶⣤⣈⠢⡀⠀⠀⠀⠀
⠀⠀⣠⡾⠯⠒⠊⠉⠀⠀⠀⠀⢀⣨⣿⢸⣿⣿⣿⣿⣧⢹⡇⣾⣿⣿⣿⣿⡇⢿⣁⠀⠀⠀⠀⠀⠉⠛⠳⠮⣶⣄⠀⠀
⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⠃⢸⡁⠀⠀⠙⢻⣆⢸⡟⠉⠁⠀⢉⣿⣄⠀⢱⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠁⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⠃⣠⠎⠀⠀⠀⢰⣿⣿⠀⢙⠄⠀⠀⠈⠻⣿⣆⠀⢇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡿⢁⠔⠁⠀⠀⠀⠀⠀⣿⣿⠀⢸⠀⠀⠀⠀⠀⠈⠻⣧⠘⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⡵⠃⠀⠀⠀⠀⠀⠀⠀⢹⣿⠀⡇⠀⠀⠀⠀⠀⠀⠀⠙⢷⣵⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⡸⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⢰⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡜⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀


<strong>jeff@pops ~ </strong>
❯ ls
c2VjcmV0Cg= tasty-mango.txt
<strong>jeff@pops ~ </strong>
❯ <span class="cursor">█</span>
</pre>
</div>

{{ section.content | safe }}
{% endblock content %}
